.header {
    display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid red;
	padding: 15px 10px;
	margin-bottom: 16px;
}

.user_name {
    margin-right: 40px;
}

.header__right__ {
    display: flex;
	align-items: center;
}