.create__course__top__side {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}

.create__course__bottom__side {
    border: 2px solid black;
    padding: 24px;
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
}

.create__author__btn {
    margin-top: 12px;
}

.add__author__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add__author__btn {
    margin-left: 34px;
}

.create__course__item__title {
    text-align: center;
}

.author__list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.error__msg {
    font-size: 14px;
    color: red;
    align-self: flex-start;
}